body {
  background: #e8e9e8;
  font-family: "Arial";
  background-color: dodgerblue;
}
.container{
	margin:20px;
	background-color:whitesmoke;
	color:#eee;
	height:calc( 100% - 40px );
	border-radius:10px;
}
.quarter{
	height:50%;
	width:50%;
	
	float:left;
	box-sizing:border-box;
	color:#ccc;
}
/*.quarter:nth-child(1){
	border-bottom: 1px solid #ccc;
}*/
.quarter:nth-child(2){
	border-left: 1px solid #ccc;
}
.quarter:nth-child(3){
	border-top: 1px solid #ccc;
}
.quarter:nth-child(4){
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.label{
	margin-top:20vh;
	text-align: center;
	font-size:2em;
}

.dragger{
  width:5em;
  height:5em;
  border-radius: 3em;
  background-color:tomato;
  border:4px solid #fff; 
  position:absolute;
  top:50%;
  left:50%;
	-webkit-box-shadow: 3px 2px 5px 0px rgba(187,187,187,1);
	-moz-box-shadow: 3px 2px 5px 0px rgba(187,187,187,1);
	box-shadow: 3px 2px 5px 0px rgba(187,187,187,1);
	z-index:10;
}
.other{
	width:3em;
	height:3em;
	border-radius: 2em;
	-webkit-box-shadow: 3px 2px 5px 0px rgba(187,187,187,1);
	-moz-box-shadow: 3px 2px 5px 0px rgba(187,187,187,1);
	box-shadow: 3px 2px 5px 0px rgba(187,187,187,1);
	position:absolute;
	display:none;
	border:4px solid #fff;
	background-color:dodgerblue;
}